html,body {
  height: 100%;
  /* overflow-x: hidden; */
  min-width: 375px;
  background-color: #eee;
}
.type-area {
  max-width: 1200px;
  margin: 0 auto;
}
/* 主题色 */
.color,a.color,.color a {
  color: skyblue !important;
}
.color-bg {
  background-color: skyblue !important;
}
.color-bd {
  border-color: skyblue !important;
}
/* 字体大小 */
html {
  font-size: 16px;
}
.text-title1 {
  font-size: 40px
}
.text-title2 {
  font-size: 35px
}
.text-title3 {
  font-size: 30px
}
.text-title4 {
  font-size: 25px
}
.text-title1,.text-title2,.text-title3,.text-title4  {
  font-weight: 500;
}
a {
  text-decoration: none;
  cursor: pointer;
}
