.body-outer {
  padding: 40px 0 43px;
  margin: -40px 0 -43px;
  min-height: 100%;
  box-sizing: border-box;
}
.body-box .top-container {
  padding: 0 0 5px;
}
.body-box .left-view,.body-box .aside-view {
  box-sizing: border-box;
}
.body-box .left-view {
  padding-right: 5px;
}