<div class="login-outer bd-lr bd-b color-bd">
  <div class="type-area">
    <div class="login-box">
      <div class="input-line">
        <span>账&nbsp;&nbsp;&nbsp;&nbsp;号:</span>
        <input type="text" name="account" ng-model="vm.account">
      </div>
      <div class="input-line">
        <span>密&nbsp;&nbsp;&nbsp;&nbsp;码:</span>
        <input type="text" name="password" ng-model="vm.password">
      </div>
      <div class="input-line">
        <input class="login-btn color-bg" type="button" name="login" ng-click="vm.login()" value="登录">
      </div>
    </div>
  </div>
</div>